extends layout

block content
  h1= title
  p Feeling alone, don't you? No worries, our animals will look at you!
  h4 Available Animals are :-
  ul
    li
      a(href='/animal/cat') Cat
    li
      a(href='/animal/dog') Dog
    li
      a(href='/animal/giraffe') Giraffe
    li
      a(href='/animal/elephant') Elephant
    li
      a(href='/animal/bird') Bird
